.topheader-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    background-image: linear-gradient(#1673B1, #64C4E5);
}

h1 {
    font-size: 26px;
    color: #ffffff;
    margin-left: 3%;
}

button {
    height: 50%;
    width: 120px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    text-align: center;
    color: #111111;
    margin-right: 3%;
}
